        <div id="exerTitle">
          <h2>{{EXERCISE.NAME}}</h2>
        </div>
        <div class="exerData">
          <div class="exerSRep">
          <a>{{SETS}} Left</a>
          <a>{{REPS}} left</a>
          </div>
          <div class="exerImg">
            <p>IMAGE</p>
          <img src="">
          </div>
        </div>
      
