<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waist Management</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <div class="pageTitle">
      <h1>Waist <br><a id="partTitle">Management</a></h1>
    </div>
    <div>
      <nav>
        {{#if logged_in}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/signup">Sign Up</a>
        {{/if}}
      </nav>
    </div>
  </header>
{{{body}}}

  {{#if logged_in}}
  <h1>Waist <br><a id="partTitle">KATY</a></h1>
  <script src="./js/logout.js"></script>
  {{/if}}
</body>

</html>
