<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waist Management</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div id="logoContainer">
      <img id="logoPic" src="/images/pngtree-wm-logo-design-concept-corporate-modern-minimal-vector-png-image_23637650.png">
      <div class="pageTitle">
      <h1 id="firTitle">Waist</h1>
      <h1 id="secTitle">Management</h1>
    </div>
    </div>
    <div id="centerImg"></div>
    <div id="logSignEl">
      <nav>
        {{#if logged_in}}
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a id="signUpNav" href="/signup">Sign Up</a>
        {{/if}}
      </nav>
    </div>
  </header>
  {{{body}}}
  <footer>
    
  </footer>
</body>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/index.js"></script>
</html>