<main>
  <section>
    <div class="exerBox">
    {{> exercise-details}}
    </div>
  </section>
  <section>
    <div class="timeContainer">
      <div class="timeTitle">
        <a>TIMER</a>
      </div>
      <div class="timer">
        <a><!-- 2:00 --></a>
      </div>
      <div class="timerBtns">
        <button class="startBtn">START</button>
        <button class="stopBtn">STOP</button>
      </div>
    </div>
  </section>
</main>