  <main class="exerMain">
    {{#each exercises as |exercise| }}
    <section class="exerSect">
      <div class="exerBox">
        
        {{> exercise-details exercise }}
      </div>
    </section>
    {{/each}}
    <section class="timerSect">
      <div class="timeContainer">
        <div id="timeTitle">
          <h3>TIMER</h3>
        </div>
        <div id="timerFrame">
          <div class="timer">
            <a><!-- 2:00 --></a>
          </div>
        </div>
        <div class="timerBtns">
          <button id="startBtn" type="button">Start</button>
          <button id="stopBtn"  type="button">Stop</button>
        </div>
      </div>
    </section>
    <div id="navBtns">
      <button id="finishBtn"  type="button">Finish Now</button>
      <button id="nextBtn"  type="button">Next Workout</button>
    </div>
  </main>

{{!-- add div id with {{exercise.routineId}}  to queryseelct in exercise.js--}}
<script src="./js/exercise.js"></script>