<!-- LANDING PGAE, ADD NAV? MAKE MORE APPEALABLE-->
    <main class="wkOutMain">
    {{#each routines as |routine| }}
    <section class="wkoutSect">
      <a id="wkOutEl" href="api/exercises/{{routine.id}}">
      <div class="wkoutRout">
        <img src="">
        <div class="routinenName">
          <h2 id="routName">{{routine.routineName}}</h2>
        </div>
        <div id="routDesc" style="display: none;" >
            <p>DESCRIPTION OF WORKOUT</p>
        </div>
      </div>
      </a>
    </section>
  {{/each}}
    <section class="wkHistSect">
      <a href="api/workouthistory">
      <div class="navWkHist">
        <div class="routinenName">
          <h2>Workout History</h2>
        </div>
      </div>
      </a>
    </section>
</main>

<script src="/js/index.js" type="text/javascript"></script>