<!-- LANDING PGAE, ADD NAV? MAKE MORE APPEALABLE-->
<main>
    <section>
      <div>
        <div>
          <h2>{{WORKOUT.NAME}}</h2>
        </div>
        <div>
            <!-- Description of workout -->
        </div>
      </div>
    </section>
    <section>
      <div>
        <div>
          <h2>{{WORKOUT.NAME}}</h2>
        </div>
        <div>
            <!-- Description of workout -->
        </div>
      </div>
    </section>
    <section>
      <div>
        <div>
          <h2>{{WORKOUT.NAME}}</h2>
        </div>
        <div>
          <!-- Description of workout -->
        </div>
      </div>
    </section>
</main>
<div>
    <button type="button">My Work Out History</button>
</div>
