<!-- LANDING PGAE, ADD NAV? MAKE MORE APPEALABLE-->
  <main>
    <section class="wkoutSect">
      <div class="wkoutRout">
        <div class="routinenName">
          <h2>{{WORKOUT.NAME}}</h2>
        </div>
        <div>
            <!-- Description of workout -->
        </div>
      </div>
    </section>
    <section class="wkoutSect">
      <div class="wkoutRout">
        <div class="routinenName">
          <h2>{{WORKOUT.NAME}}</h2>
        </div>
        <div>
            <!-- Description of workout -->
        </div>
      </div>
    </section>
    <section class="wkoutSect">
      <div class="wkoutRout">
        <div class="routinenName">
          <h2>{{WORKOUT.NAME}}</h2>
        </div>
        <div>
          <!-- Description of workout -->
        </div>
      </div>
    </section>
</main>
<div>
    <button type="button">My Work Out History</button>
</div>
