<!-- LANDING PGAE, ADD NAV? MAKE MORE APPEALABLE-->

{{#each routines as |routine| }}
  <main class="wkOutMain">
    <section class="wkoutSect">
      <a href="#">
      <div class="wkoutRout">
        <div class="routinenName">
          <h2>{{routine.routineName}}</h2>
        </div>
        <div>
            <!-- Description of workout -->
        </div>
      </div>
      </a>
    </section>
    <section class="wkoutSect">
      <a href="#">
      <div class="wkoutRout">
        <div class="routinenName">
          <h2>{{routine.routineName}}</h2>
        </div>
        <div>
            <!-- Description of workout -->
        </div>
      </div>
      </a>
    </section>
    <section class="wkoutSect">
      <a href="#">
      <div class="wkoutRout">
        <div class="routinenName">
          <h2>{{routine.routineName}}</h2>
        </div>
        <div>
          <!-- Description of workout -->
        </div>
      </div>
      </a>
    </section>
  {{/each}}
    <section class="wkHistSect">
      <a href="#">
      <div class="navWkHist">
        <div class="routinenName">
          <h2>Workout History</h2>
        </div>
      </div>
      </a>
    </section>
</main>

  
