<!-- LANDING PGAE, ADD NAV? MAKE MORE APPEALABLE-->
    <main class="wkOutMain">
    {{#each routines as |routine| }}
    <section class="wkoutSect">
      <a id="wkOutEl" href="api/exercises/{{routine.id}}">
      <div style="background-image: url('{{routine.photo_link}}');" class="wkoutRout">
        <div class="routinenName">
          <h2 id="routName">{{routine.routineName}}</h2>
        </div>
        <div id="routDesc" style="display: none;" >
            <p>DESCRIPTION OF WORKOUT</p>
        </div>
      </div>
      </a>
    </section>
  {{/each}}
    <section class="wkHistSect">
      <a href="api/workoutHistory">
      <div style="background-image: url('https://cdn.shpe.us/blog/wp-content/uploads/sites/5/2017/12/fitness-diet-and-nutrition-routine-concept-with-green-detox-smoo-780x405.webp');" class="navWkHist">
        <div class="routinenName">
          <h2>Workout History</h2>
        </div>
      </div>
      </a>
    </section>
</main>