
  <section class="loginSec">
  <form class="loginForm">
    <h2 id="logTitle">Login</h2>
    <div id="userName">
      <label for="user-login">Username:</label>
      <input class="form-input" type="text" id="user-login" />
    </div>
    <div id="password">
      <label for="password-login">password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="submitBtn">
      <button class="btn" type="submit">login</button>
    </div>
  </form>
</section>
