  <section class="loginSec">
  <form class="loginForm">
    <h2 id="SignUpTitle">Sign Up</h2>
    <div id="userName">
      <label for="user-signup">Username:</label>
      <input class="form-input" type="text" id="user-signup" />
    </div>
    <div id="password">
      <label for="password-signup">password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="submitBtn">
      <button class="signUpbtn" type="submit">Sign Up</button>
    </div>
  </form>
</section>