<main class="wkOutHistSect">
  {{#each pastWorkouts as |pastWorkout|}}
  <section class="wkOutHistSect">
    <div id="wkOutHistContainer">
      <div id="exercDate">
        <h3>8/18/2023</h3>
      </div>
      <div id="exercList">
        <h3>Routine</h3>
        <p>exercise1<br>exercise2<br>exercise3</p>
      </div>
    </div>
  </section>
  {{/each}}
</main>