
* {

    box-sizing:border-box;
    
  }

body {

  background: linear-gradient(337deg, rgba(10,5,3,1) 0%, rgba(255,114,63,1) 76%);
  background-size: cover;

  }

header {

    display: flex;
    justify-content:space-between;
    background-color: #efefef;
    padding: 5px;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
}

/*.backGroundImg {

  background-image: url('../images/optimized---image\ 01.jpg');
  background-repeat: no-repeat;
  background-position: 50% -25%;

}*/

#logoContainer {

  display: flex;
  height: 100px;
  width: 100px;
  padding-left: 5px;

}

#logoPic {

width: 400px;

}

#signUpNav {

  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #efefef;
  cursor: pointer;
  display: inline-block;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 120px;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;

}

#logSignEl {

  display: flex;
  flex-direction: column-reverse;

}

.pageTitle {

  margin-top: -40px;
  margin-left: -10px;

}

#firTitle {

  position: relative;
  color :#ff723f;
  text-shadow: black 0px 0px 13px;
  letter-spacing: 1vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 60px;
  z-index: 1;

}

#secTitle {

  position: absolute;
  color: black;
  text-shadow: #ff723f 0px 0px 4px;
  margin-top: -75px;
  padding-left: 10px;
  letter-spacing: 0.5vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  z-index: 0;

}

#centerImg {

width: 1200px;
margin-top: 5px;
margin-left: 22%;
background-image: url('../images/Running-Form_2.jpg');
box-shadow: 50px 0px 10px #efefef inset, -50px 0px 10px #efefef inset;

}

.loginSec {

  display: flex;
  justify-content: center;
  height: 623px;
  padding-top: 80px;

}

.loginForm, .signupForm {

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efefef;
  border: 2px solid #858585;
  border-radius: 10px;
  box-shadow: 8px 8px 10px #b9512b, rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: 360px;
  height: 300px;

}

#logTitle, #signUpTitle {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff723f;
  border: 2px solid #b9512b;
  border-radius: 5px;
  box-shadow: 8px 8px 10px #858585;
  text-align: center;
  margin-top: -15px;
  height: 45px;
  width: 300px;
}

#loginH {

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#loginCom {

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#userLogin, #userSignup {

  background-image: url('../images/pngwing.com.png');
  background-repeat: no-repeat;
  background-position: 7px 6px;
  background-size: 23px;
  padding: 10px 40px;
  margin-top: 15px;

}

.form-input {

  border-radius: 4px;

}

.form-input:hover {

  box-shadow: #FF7E31 0 3px 8px inset;

}

#passwordLogin, #passwordSignup {

  background-image: url('../images/kisspng-computer-icons-password-scalable-vector-graphics-p-ampquotforgot-password-5c559f30b61fe9.449194351549115184746.png');
  background-repeat: no-repeat;
  background-position: 5px 4px;
  background-size: 26px;
  padding: 10px 40px;
  margin: 20px 0;

}



#loginBtn, #signUpbtn{

  padding: 10px 20px;
  margin: 18px 0;

}

.wkOutMain {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  height: 1200px;

}

.wkoutSect {

  padding-top: 60px;

}

.wkoutRout {

  display: flex;
  flex-direction: column;;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 810px 340px;
  border: 1px solid #858585;
  border-radius: 10px;
  box-shadow: 8px 8px 10px #b9512b;
  width: 800px;
  height: 220px;

}

.wkoutRout:hover {

  filter: brightness(110%);

}

.routImg {

    width: 800px;
    height: 220px;

}

.routinenName {

  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #ff723f;
  border: 1px solid #b9512b;
  border-radius: 5px;
  box-shadow: 8px 8px 10px #858585;
  text-align: center;
  margin-top: -25px;
  height: 50px;
  width: 310px;

}

#routDesc {

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #efefef;
  border: 2px solid #b9512b;
  border-radius: 5px;
  box-shadow: 8px 8px 10px #858585;
  text-align: center;
  margin-top: 40px;
  height: 100px;
  width: 510px;

}

.wkHistSect {

    padding-top: 60px;

}

.navWkHist {

  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 810px 300px;
  border: 1px solid #858585;
  border-radius: 10px;
  box-shadow: 8px 8px 10px #b9512b, rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: 800px;
  height: 140px;

}

.navWkHist:hover {

  filter: brightness(110%);

}

.exerMain {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  height: 920px;


}

.exerSect {

  padding-top: 60px;

}

.exerBox {

  display: flex;
  flex-direction: column;
  background-color: #efefef;
  box-shadow: 8px 8px 10px #b9512b, rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 10px;
  width: 600px;
  height: 370px;

}

#exerTitle {

  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #ff723f;
  border: 2px solid #b9512b;
  border-radius: 5px;
  box-shadow: 8px 8px 10px #858585;
  text-align: center;
  margin-top: -20px;
  margin-left: 155px;
  height: 50px;
  width: 310px;

}

.SRepBox {

  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #ff723f;
  border: 1px solid #b9512b;
  border-radius: 5px;
  box-shadow: 8px 8px 10px #858585;
  text-align: center;
  margin-top: 40px;
  height: 45px;
  width: 170px;

}

.exerData{

display: flex;
justify-content: space-around;
padding-top: 20px;

}

.exerSRep {

  display: flex;
  flex-direction: column;

}

.exerImgBox {

  margin-top: 50px;
  height: 240px;
  width: 200px;

}

#exerImg {

  border-radius: 5px;
  height: 240px;
  width: 200px;
  box-shadow: 8px 8px 10px #858585, rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.timerSect {

  display: flex;
  justify-content: center;
  padding-top: 60px;

}

.timeContainer {

  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 8px 8px 10px #b9512b, rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: 480px;
  height: 260px;

}

#timeTitle {

  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #ff723f;
  border: 2px solid #b9512b;
  border-radius: 5px;
  box-shadow: 8px 8px 10px #858585;
  text-align: center;
  margin-top: -20px;
  margin-left: 155px;
  height: 45px;
  width: 170px;
  
}

#timerFrame {

  display: flex;
  justify-content: center;
  padding-top: 30px;

}

.timer {

 background-color: #efefef;
 border-radius: 5px;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
 height: 100px;
 width: 300px;
  
}

.timerBtns {

display: flex;
justify-content: space-around;
padding-top: 30px;

}


#navBtns {

  display: flex;
  justify-content: space-around;
  padding-top: 50px;

}

#navBtnsFinish {

  display: flex;
  justify-content: space-around;
  padding-top: 50px;

}

#nextBtn, #finishBtn, #stopBtn, #startBtn, #loginBtn, #signUpbtn, .no-button {

    background-color: initial;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #efefef;
    cursor: pointer;
    display: inline-block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 120px;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;

  }
  
  #nextBtn:hover, #finishBtn:hover, #logout:hover, #loginBtn:hover, #signUpbtn:hover , .no-button:hover, #signUpNav:hover, #startBtn:hover, #stopBtn:hover {
    box-shadow: #858585 0 3px 8px;
  }

  .wkOutHistSect {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding-top: 39px;

  }

  #wkOutHistContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #858585;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 8px 8px 10px #b9512b, rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    height: 170px;
    width: 230px;

  }

  #exercDate{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff723f;
    border: 2px solid #b9512b;
    border-radius: 5px;
    box-shadow: 8px 8px 10px #858585;
    text-align: center;
    margin-top: -15px;
    height: 45px;
    width: 170px;

  }

  .wkHistMain {

    height: 623px;

  }

  /*#wkOutHistContainer:hover {
    
    animation-duration: 2s;
    animation-name: wkOutHistContainer;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

  }

  @keyframes wkOutHistContainer {

    0% {
      height: 40px;
      width: 250px;
    }
    100% {
      height: 200px;
      width: 180px;
    }

  }*/